test.sql

# DS_Store for MacOS Finder
**.DS_Store

# Build artifacts
dist/**
build/**

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# metrics output for testing
traces.txt
server/server
!server/nopush/README.md
server/nopush
authServerCA.pem
authServerCAPrivKey.pem
cmd/devtools/bootstrap/bootstrap
node_modules
nopush
result