test.sql

# DS_Store for MacOS Finder
**.DS_Store

# Build artifacts
dist/**
build/**

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# metrics output for testing
traces.txt

server/ent/
server/graphql
!server/ent/entc.go
!server/ent/schema
!server/graphql/schema
!server/graphql/gqlgen.yml